.toast {
    position: fixed !important;
    z-index: 3;
}

* {
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}